*.suo
packages/
*.user
LogParser.API/bin/
LogParser.API/obj/
LogParser.CLI/bin/
LogParser.CLI/obj/
LogParser.EDM/bin/
LogParser.EDM/obj/
LogParser.Data/bin/
LogParser.Data/obj/
.vs/
LogParser.Parser/obj/
LogParser.Parser/bin/
