USE [master]
GO
/****** Object:  Database [ParserDb.mdf]    Script Date: 27/01/2018 19:57:28 ******/
CREATE DATABASE [ParserDb.mdf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParserDb.mdf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ParserDb.mdf.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ParserDb.mdf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ParserDb.mdf_log.ldf' , SIZE = 5824KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParserDb.mdf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParserDb.mdf]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 27/01/2018 19:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccessLogs]    Script Date: 27/01/2018 19:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Host] [nvarchar](max) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Route] [nvarchar](max) NOT NULL,
	[QueryParams] [nvarchar](max) NULL,
	[RequestStatus] [int] NOT NULL,
	[ResponseSize] [int] NOT NULL,
	[Geolocation] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AccessLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_Time]    Script Date: 27/01/2018 19:57:28 ******/
CREATE NONCLUSTERED INDEX [IX_Time] ON [dbo].[AccessLogs]
(
	[Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
